.product-category {
  width: 182.474px;
  height: 134.126px;
  background-image: linear-gradient(180deg, rgba(244, 244, 244, 0.00) 0%, #F4F4F4 92.11%), url("../image/home/product-category.png");
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  display: flex;
  margin-left: 40px;
  margin-bottom: 30px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
}

.swiper-pagination-bullet-active {
  background-color: #348F8C;
  border: 3px solid #fff;
}

.swiper-button-next::after {
  font-size: 15px;
  font-weight: bold;
}

.swiper-button-prev::after {
  font-size: 15px;
  font-weight: bold;
}

.select .nice-select {
  border: none;
}

.lSSlideWrapper {
  border-radius: 24px;
  /* height: 470px !important; */
  border: 10px solid #FFF;
  background: #F6F6F6;
  box-shadow: 0px 0px 1px 0px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  margin: 3px;
}

#lightSlider {
  /* height: 480px !important; */
  padding-bottom: 5px;
}

/* #lightSlider li {
  height: 470px !important;
} */


.lSPager {
  margin-top: 14px !important;
}

.lSSlideOuter .lSPager.lSGallery li {
  padding: 2px;
}

.lSPager li a img {
  height: 50px !important;
  padding: 5px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 4.217px solid #FFF;
  background: #F6F6F6;
  box-shadow: 0px 0px 1px 0px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
}

.lSPrev,
.lSNext {
  display: none !important;
}

.nice-select {
  font-size: 12px;
  color: #7B7F95;
}

.homeSelect .selectize {
  border: none;
  padding-right: 35px;
  padding-left: 5px;
}

.homeSelect .nice-select .option {
  font-size: 10px;
}

.homeSelect .nice-select:after {
  top: 20px;
  right: 10px;
}

.homeSelect .selectize .current {
  font-size: 10px;
}

.nice-select:after {
  position: absolute;
  content: "";
  transform: rotate(0deg);
  top: 19px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #A7AAB9 transparent transparent transparent;
}

.nice-select.open:after {
  transform: rotate(-180deg);
  top: 9px;
  right: 13px;
}

#dhaka1 {
  left: 47px !important;
}

#recommended1 {
  left: 37px !important;
}

@media only screen and (min-width: 1200px) {
  .nice-select {
    font-size: 12px;
  }

  .homeSelect .nice-select .option {
    font-size: 12px;
  }

  .homeSelect .selectize .current {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1024px) {
  .lSSlideWrapper {
    height: 300px !important;
  }

  #lightSlider {
    height: 300px !important;
  }

  #lightSlider li {
    height: 300px !important;
  }


}

@media only screen and (min-width: 1280px) {
  .lSSlideWrapper {
    height: 390px !important;
  }

  #lightSlider {
    height: 390px !important;
  }

  #lightSlider li {
    height: 390px !important;
  }

  .lSPager li a img {
    height: 65px !important;
    padding: 8px;
  }
}

@media only screen and (min-width: 1536px) {
  .lSSlideWrapper {
    height: 470px !important;
  }

  #lightSlider {
    height: 480px !important;
  }

  #lightSlider li {
    height: 470px !important;
  }

  .lSPager li a img {
    height: 88px !important;
    padding: 16px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1400px;
  }
}