.daterangepicker td.active,
.daterangepicker td.active.end-date,
.daterangepicker td.active:hover {
  background-color: #D87607 !important;
}

.daterangepicker td.in-range {
  background-color: #FEF3C7;
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background-color: #FEF3C7;
}

.daterangepicker td.start-date,
.daterangepicker td.end-date {
  border-radius: 100%;
}

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  height: 32px;
}

.daterangepicker .drp-buttons .btn {
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 16px;
  background-color: #0F766D;
  color: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.daterangepicker .drp-buttons .btn:hover {
  background-color: #fff;
  color: #0F766D;
  border: 1px solid #0F766D;
}

.cancelBtn {
  background-color: #fff !important;
  color: #0F766D !important;
  border-radius: 4px;
  border: 1px solid #0F766D !important;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.cancelBtn:hover {
  background-color: #0F766D !important;
  color: #fff !important;
  border: 1px solid transparent !important;
}


.datepicker-cell {
  border-radius: 100%;
  line-height: 2.25rem;
  /* background: #D87607; */
}

.selected {
  background: #D87607;
}

.selectize{
  width: 99%;
}

.nice-select-dropdown{
  width: 100%;
}