@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .label {
    @apply block relative cursor-pointer;
    padding-left: 28px;
  }

  .label-radio {
    @apply block relative cursor-pointer;
  }

  /* Hide the browser's default checkbox */
  .label input {
    @apply absolute opacity-0 cursor-pointer h-0 w-0;
  }

  .label-radio input {
    @apply absolute opacity-0 cursor-pointer h-0 w-0;
  }

  /* Create a custom checkbox */
  .checkmark {
    @apply absolute top-0 2xl:top-[3px] left-0 h-4 w-4 bg-white border-2 border-[#E4E5E9] rounded;

  }

  .checkmark-radio {
    @apply absolute top-0 left-8 h-4 w-4 2xl:h-5 2xl:w-5 rounded-full bg-white border-2 border-[#E4E5E9];
  }

  .checkmark-shopping-cart {
    @apply absolute -top-[9px] left-0 h-4 w-4 bg-white border-2 border-[#E4E5E9];
  }

  /* When the checkbox is checked, add a ##0F766D background */
  .label input:checked~.checkmark {
    @apply bg-[#0F766D] border-none rounded-none;

  }

  .label-radio input:checked~.checkmark-radio {
    @apply border border-[#0F766D];

  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    /* @apply absolute block content ""; */
    @apply absolute block content-[''];
    display: none;
  }

  .checkmark-radio:after {
    /* @apply absolute block content ""; */
    @apply absolute block content-[''];
    display: none;
  }

  /* Show the checkmark when checked */
  .label input:checked~.checkmark:after {
    @apply block;
  }

  .label-radio input:checked~.checkmark-radio:after {
    @apply block;
  }

  /* Style the checkmark/indicator */
  .label .checkmark:after {
    @apply left-[5px] top-[3px] w-[5px] h-[9px] border-white border-t-[2px] border-l-[2px] transform rotate-[216deg] content-[''];
  }

  .label-radio .checkmark-radio:after {
    @apply left-[3px] 2xl:left-[4px] top-[3px] 2xl:top-[4px] w-[8px] 2xl:w-[10px] h-[8px] 2xl:h-[10px] bg-[#0F766D] rounded-full content-[''];
  }

  .myshadow {
    box-shadow: 0px 0px 1.277px 0px rgba(12, 26, 75, 0.24), 0px 3.831px 10.216px -1.277px rgba(50, 50, 71, 0.05);
  }

  .hoverShadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .hotServiceShadow {
    box-shadow: 0px 0px 0.938px 0px rgba(12, 26, 75, 0.24), 0px 2.815px 7.508px -0.938px rgba(50, 50, 71, 0.05);
  }

  .featuredShopShadow {
    box-shadow: 0px 0px 1.086px 0px rgba(12, 26, 75, 0.24), 0px 3.257px 8.684px -1.086px rgba(50, 50, 71, 0.05);
  }

  .category-shadow {
    box-shadow: 0px 0px 1px 0px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  }

  .recentlyViewedShadow {
    box-shadow: 0px 0px 1.063px 0px rgba(12, 26, 75, 0.24), 0px 3.189px 8.503px -1.063px rgba(50, 50, 71, 0.05);
  }

  .bookingShadow {
    box-shadow: 0px 0px 1px 0px rgba(12, 26, 75, 0.10), 0px 4px 20px -2px rgba(50, 50, 71, 0.08);
  }
}